---
import TabItem from "./TabItem.astro";
---

<div class="mx-auto flex max-w-lg items-center">
    <TabItem url="/" text="Top" />
    <TabItem url="/skill" text="Skill" />
    <TabItem url="/history" text="History" />
    <TabItem url="/hobby" text="Hobby" />
</div>
