---
interface Props {
    edge: string;
}

const { edge } = Astro.props;
---

<div class="flex items-stretch">
    <div class="relative w-full shrink-0">
        <div class="absolute left-4 h-full w-0.5 bg-slate-500"></div>
        <div class="py-2">
            <div class="flex flex-row items-center">
                <p class="z-10 my-0 text-nowrap rounded-full bg-blue-500 px-2 py-0.5 text-sm text-white">
                    {edge}
                </p>
            </div>
        </div>
    </div>
</div>
